@using StyleguideGenerator.Models
@{
    var t = ViewData.Model as GlobalException;
}
<h2>Exception</h2>

<h4>@t.UserLogin  @t.Dt</h4>
<h4> @(t.Message ?? "Exception")</h4>
<textarea style="width:100%; height:400px;" readonly>@(t.StackTrace ?? "Stack trace")</textarea>
