<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@(ViewBag.Title ?? "Rsone Styleguide Generator")</title>
    <script asp-src-include="~/scripts/*.min.js"></script>
    <script src="~/scripts/plugins.jquery.js"></script>
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
</html>
