<div id="tabs">
    <span tab-s="1">1111</span>
    <span tab-s="2">2222</span>
</div>
<div>
    <div tab="1">1111 fffffffff</div>
    <div tab="2">22222 ffffffffffff</div>
</div>
<script type="text/javascript">
    $("#tabs").tabs();
</script>
<style>
    [tab] {
    display: none;
    opacity: 0;
}
     [tab].tab-sl {
         display: block;
         opacity: 1;
     }
</style>